{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

    <div class="container">
        <h3>Create listing</h3>
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="title" placeholder="Title" maxlenght="30" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" name="description" placeholder="Description: 100 characters" maxlength="100" required></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="imageurl" placeholder="URL" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="startbid" min=0 placeholder="Starting Bid" required>
            </div>
            <div class="form-group">
                <select class="form-control" name="category" required>
                    <option value="category" selected>Category</option>
                    {% for i in selectable%}
                        <option value={{i}}>{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="btn btn-primary funcbutton" type="submit" value="Create">
        </form>
        <hr>
    </div>

{% endblock %}