{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container left" id="listing">
        <h4>Wins</h4>
        <hr>
        {% for i in winlist %}
            <div class="clear-fix">
                <img src={{i.0.imageurl}} alt="Item-pic" class="mr-4 mb-4 float-left" width="300" height="300">
                <div>
                    <a href="{% url 'listing' i.0.id %}"><h3>{{i.0.title}}</h3></a>
                    <h5>Description: </h5>
                    <p>{{i.0.description}}</p>
                    <p class="center">Congratulations! You won this item</p>
                    <p class="center">Your winning bid: ${{i.1}}</p>
                </div>
            </div>
            <hr>
        {% empty %}
            <p>No items won</p>
            <hr>
        {% endfor %}

        <h4>Bids</h4>
        <hr>
        {% for i in bidlist %}
            <div class="clear-fix">
                <img src={{i.0.imageurl}} alt="{{i.0.title}} pic" class="mr-4 mb-4 float-left" width="300" height="300">
                <div>
                    <a href="{% url 'listing' i.0.id %}"><h3>{{i.0.title}}</h3></a>
                    <h5>Description: </h5>
                    <p>{{i.0.description}}</p>
                    <p class="center">
                        {% if i.1 %}
                            Highest bid by: {{i.1.user_id}} (amount: ${{i.1.amount}}).
                        {% endif %}
                    </p>
                    <p class="center">{{i.2}} bid(s) so far</p>
                    <p class="center">Your bid: ${{i.3}}</p>
                </div>
            </div>
            <hr>
        {% empty %}
            <p>No bids placed</p>
            <hr>
        {% endfor %}
    </div>

{% endblock %}