textarea {
    min-height: 350px;
    max-width: 100%;
    width: auto;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    padding-bottom: 4%;   
}

.center{
    text-align: center;
}

.form-group{
    margin-top: 3%;
}

.btn-sm{
    margin: 4px;
    width: 100px;
    color: black;
    background-color: #d3e3fd;
    border: 1px black solid;
}

img{
    margin-right: 3px;
    margin-top: 0;
}
