.container{
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    padding-bottom: 4%;   
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.btn{
    border-radius: 20px;
    width: auto;
    min-width: 125px;
}

.login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 4%;
    max-width: 70%;
    width: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#listingpage, #categorypage{
    display: flex;
    flex-wrap: wrap;
}

#listingpage > div, #categorypage > button{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#listingpage > div{
    border: 2px solid lightgrey;
}

#listingpage > p, #categorypage > p{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

#listingpage > div > a{
    color: black;
    text-decoration: none;
}

#listingpage > div > a:hover{
    color: black;
    text-decoration: underline;
}

input{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

h5{
    margin-top: 10px;
}

hr{
    border-top: 1px solid lightgrey;
}

img{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    object-fit: contain;
}


#listing > div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: fit-content;
    height: auto;
    min-height: 300px;
    overflow: hidden;
    border: 2px solid lightgrey;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
}

.border{
    border: 1px solid lightgrey;
    height: 20px;
}

.noborder{
    border: 0;
}

button{
    margin-top: 10px;
    border-radius: 20px;
    width: auto;
    min-width: 125px;
}

textarea[name="comment"]{
    width: 95%;
    padding: 5px;
}

#listing > div > div > a{
    color: black;
    text-decoration: none;
}

#listing > div > div > a:hover{
    color: black;
    text-decoration: underline;
}

div[class="clear-fix"]{
    display: flex;
    flex-wrap: wrap;
}

div[class="clear-fix"] > img{
    margin-left: 0;
}

.navbar{
    border-bottom: 1px solid lightgrey;
}

.funcbutton{
    background-color: #0053a0;
    font-weight: 400;
    width: auto;
    min-width: 150px;
}

.waitbutton{
    background-color: white;
    color: #0053a0;
    font-weight: 400;
    width: auto;
    min-width: 150px;
}

.waitbutton:hover{
    background-color: rgb(213, 230, 255);
    color:#0053a0
}

button[name="category"]{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 500;
}

button[class = "navbar-toggler"]{
    width: auto;
    min-width: auto;
}